:root {
    --granite: #625D64;
    --silver: #B9B5BA;
    --mustard: #FFDB5A;
    --peach: #FBC19C;
    --outrageous: #FB6D4D;
    --white: white;
    --black: black;

}

* {
    font-family: 'Montserrat Alternates', sans-serif;

}

nav {
    background-color: var(--granite);
    color: var(--white);
}

h1,
h2,
h3,
a,
.form-group {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2,
h3 {
    text-decoration: underline;
}

span {
    font-size: 16px;
    vertical-align: middle;
}

body {
    background-color: #F4F3EE;
    color: var(--black)
}

a,
button{
    background-color: var(--silver);
    color: var(--black);
    margin: 8px;
    padding: 6px;
    border-radius: 10px;
    border: 0 solid var(--black);
    text-decoration: none;
    box-shadow: inset 0 0 0 0 var(--mustard);
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

a:hover,
button:hover {
    box-shadow: inset 0 -150px 0 0 var(--mustard);
    color: var(--black);
}

form {
    padding: 15px;
    margin-top: 7%;
    border: 1px solid var(--peach);
    border-radius: 10px;
    background-color: var(--peach);
    color: var(--black)
}

.form-group {
    padding: 10px
}

.activeCustom {
    box-shadow: inset 0 -150px 0 0 var(--mustard);
    color: var(--black);
}

footer {
    background-color: var(--granite);
    color: var(--white);
    position: fixed;
    padding: 2%;
    background-color: var(--granite);
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.logo {
    width: 60px;
    padding: 0px;
    margin: 0px;
}

.customContainer{
    justify-content: left !important;
}

.project-img{
    width: 400x;
    height: auto;
}

.project-cards{
    padding: 10px;
}

.projectContainer{
    margin-top: 7%;
    justify-content: space-evenly
}

.about-icons-container{
    text-align: center;
    color: var(--outrageous);
    height:auto;
    width: auto
}

.about-icons{
    padding: 8px;
}

.page-content{
    margin-bottom: 20%;
}

.about-content, .resume-dl{
    margin-top: 7%;
}
